@use '_userCardContainer.scss';
@use '_login.scss';
@use '_asidedMenu.scss';
@use '_postsSection.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  background-color: #21242b;
  color: #f6f7fa;
}

* {
  margin: 0px;
}

header {
  height: 64px;
  background-color: #353842;
  z-index: 99;
  width: calc(100% - 30px);
  padding: 0px 15px;
  position: fixed;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 12px #15161a5e;
  outline: 1px solid #d4d0d427;
  & .logo {
    display: flex;
    align-items: center;
    & svg {
      margin-top: -4px;
      margin-right: 8px;
    }
  }
}

#bodySectionPaddingHeader {
  padding-top: 65px;
  height: calc(100% - 65px);
  display: flex;
}

#__next {
  height: 100%;
}

a {
  color: #d571e3;
  text-decoration: none;
}

html, body {
  height: 100%;
}

#sideMenu {
  height: calc(100% - 79px);
  padding-bottom: 80px;
  width: 200px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 16px;
  padding-right: 16px;
  border-right: 1px solid #dde3eb21;
  background-color: #2c2e33;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #21242b;
}

::-webkit-scrollbar-thumb {
  background-color: #3e4450;
  border-radius: 60px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.384);
}